import type { Config } from 'drizzle-kit'

export default {
  dialect: 'postgresql',
  schema: './src/library/database/schema.ts',
  out: './drizzle',
  dbCredentials: {
    url: 'postgres://user:password@host:port/postgres',
  },
} satisfies Config
