@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	label {
		@apply mr-2;
	}

	h1 {
		@apply text-3xl font-semibold mb-8;
	}

	h2 {
		@apply text-2xl font-semibold;
	}

	h3 {
		@apply text-xl font-medium;
	}

	input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="date"]) {
		@apply p-2 text-lg bg-slate-50 rounded border-2 border-blue-100 outline-offset-4 focus-visible:outline-orange-400;
	}

	input[type="checkbox"] {
		@apply col-start-1 row-start-1 appearance-none rounded border border-gray-300 bg-white 
           checked:border-blue-600 checked:bg-blue-600 
           indeterminate:border-blue-600 indeterminate:bg-blue-600 
           focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-400 
           disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 
           forced-colors:appearance-auto outline-offset-4;
	}
}

@layer components {
	.button {
		@apply rounded-lg px-3 py-1 font-medium text-sm transition-all duration-300 outline-offset-4 focus-visible:outline-orange-400 disabled:cursor-not-allowed;
	}
	.button-primary {
		@apply button border-2 bg-blue-600 disabled:bg-zinc-200 border-blue-600 disabled:border-zinc-300 hover:bg-blue-500 hover:border-blue-500 active:border-blue-400 active:bg-blue-400 text-white disabled:text-zinc-400;
	}
	.button-secondary {
		@apply button border-2 bg-white text-zinc-700  hover:text-blue-500 active:text-blue-400  border-blue-600 hover:border-blue-500 active:border-blue-400;
	}
	.link {
		@apply transition-all duration-300 text-zinc-600;
	}
	.link-primary {
		@apply link hover:text-blue-600 active:text-blue-700
	}
	.link-secondary {
		@apply link hover:text-zinc-700 active:text-zinc-800
	}
	.link-danger {
		@apply link hover:text-red-600 active:text-red-700
	}
}
